---
layout: default
---

<div class="home">

  <div class="divider">
    <div class="right">
      <p>
        My research focuses on scalable methods to achieve 99% accuracy in deep learning models, applicable to NLP, CV, VLA, and LLM/MLLM.
      </p> 
      <p>
        My work tracks the evolution of data annotation, from its early days of manual labeling to LLM/MLLM-labeled data.
      </p>
      <p>
        For specific deep learning tasks, such as object detection, text classification, and robotics VLA models, I believe that under the "data-cover" paradigm, re-labeling is a key method for improving accuracy.

        As for LLMs and MLLMs, I am currently learning how to improve their accuracy as measured by standard benchmarks.
      </p>
    </div>
  </div>

</div>
