---
layout: default
---

<div class="home">

  <div class="divider">
    <div class="right">
      <p>
        My research focuses on scalable methods to achieve 99% accuracy in deep learning models, applicable to NLP, CV, VLA, and LLM/MLLM.
      </p> 
      <p>
        My work tracks the evolution of data annotation, from its early days of manual labeling to LLM/MLLM-labeled data.
      </p>
      <p>
        I focus not only on single-task models, but also on improving the accuracy of "multi-task" generative large models.
      </p>
    </div>
  </div>

</div>
